@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

body {
  color: white;
  background-color: #fc9822;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
